<!DOCTYPE html>
<html lang="en" ng-app="vizApp">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AE Dashboard</title>

    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Plotly.js (high-level data viz library) -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- fontawesome icons, feel free to delete if/when not needed anymore -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "assets/custom.css">

    <script src="index.js"></script>

</head>
<body>
<div ng-controller="VisualizationController as vizCtrl">
    <!-- <nav class="navbar navbar-dark navbar-fixed-top bg-dark flex-md-nowrap p-0 shadow col-sm-3 col-md-2 ds-grid-brand">
      <a class="navbar-brand mr-0" href="#">AE Insights</a>
    </nav> -->

    <div class="ds-grid-nav">
        <div class="ds-nav-logo">
        </div>
        <div class="ds-nav-middle">
          <nav>
            <ul class="ds-nav">
              <li class="ds-nav-item1">
                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" ng-click="vizCtrl.setView('dashboard')">
                  <i class="fas fa-columns"></i>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="ds-nav-item2">
                <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" ng-click="vizCtrl.setView('interests')">
                  <i class="fas fa-heart"></i>
                  Interests
                </a>
              </li>
              <li class="ds-nav-item3">
                <a class="nav-link" id="media-tab" data-toggle="tab" href="#media" ng-click="vizCtrl.setView('media')">
                  <i class="fas fa-shopping-cart"></i>
                  Media
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="ds-nav-end">

          <div class="ds-active-filters">
            <span>

            <!-- <i class="fas fa-filter"></i>  -->
            <!-- Active Filter -->
            </span>

            <div style="font-style:italic;"><span class="ds-filter-tip"><i class="fas fa-lightbulb"></i></span><span class="ds-current-filter-remove">Active Filter<br/><i class="fas fa-times"></i></span><span class="ds-current-filter"></span></div>
          </div>
          <div class="aud-nav">
              <form class="ds-audience-selection-form">
                <div class="checkbox">
                  <label><input type="checkbox" value="1" checked>1</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="2">2</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" value="3">3</label>
                </div>
              </form>
          </div>

        </div>
    </div>

    <div class="ds-grid-container">
      <!-- <div class="row"> -->
        <main role="main" class="ds-grid-main">
          <div class="ds-audience-header">
              <div class="ds-audience-title">
              </div>
              <div class="ds-audience-legend">
                <div class='ds-audience-legend-row' id="dsAudienceLegend1">
                  <div class="ds-audience-legend-color"></div>
                  <div class="ds-audience-legend-label"><span></span></div>
                </div>
                <div class='ds-audience-legend-row' id="dsAudienceLegend2">
                  <div class="ds-audience-legend-color"></div>
                  <div class="ds-audience-legend-label"><span></span></div>
                </div>
                <div class='ds-audience-legend-row' id="dsAudienceLegend3">
                  <div class="ds-audience-legend-color"></div>
                  <div class="ds-audience-legend-label"><span></span></div>
                </div>
              </div>
              <!-- <div style="float:none;width:100%;overflow:auto;"></div> -->
              <div class="well ds-grid-full">
                <wave-chart chartTitle="Audience DNA"></wave-chart>
              </div>
        </div>
        <div class="tab-content relative ds-grid-tabs">
          <div class="tab-pane active" role="tabpanel" ng-if="vizCtrl.view === 'dashboard'">
            <div class="ds-grid-charts">

            <div class="ds-chart well tile">
                <bar-chart chartTitle="Age" orientation="vertical"></bar-chart>
            </div>
            <div class="ds-chart well tile">
                <donut-chart chartTitle="Gender" dataSource="{{vizCtrl.genderData}}"></donut-chart>
            </div>
            <div class="ds-chart well tile">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Ethnicity</h4>
                  </div>
                  <div id="ethnicityChart" dataSource="{{vizCtrl.ethnicityData}}"></div>
            </div>
          <!-- </div> -->


            <div class="ds-chart well tile">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Marital status</h4>
                  </div>
                  <div id="maritalChart"></div>
            </div>
            <div class="ds-chart well tile">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Number of children</h4>
                  </div>
                  <div id="childrenChart"></div>
            </div>
            <div class="ds-chart well tile">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Education</h4>
                  </div>
                  <div id="educationChart"></div>
            </div>
            </div>

            <div class="ds-grid-charts-big">
            <div class="ds-chart-big well tile">
                <div class="tile-header">
                    <h4 class="ds-chart-title">Income</h4>
                </div>
                <div id="incomeChart"></div>
            </div>
            <div class="ds-chart-big well tile">
               <map-chart chartTitle="Location" dataSource=""></map-chart>
            </div>

              <div class="ds-chart-big well tile">
                  <div class="tile-header col-sm-2">
                      <h4 class="ds-chart-title">Interests</h4>
                  </div>
                  <div id="interestsChart">
                    <div class="ds-hbar-status col-sm-8" style="float:left;"></div>
                    <div class="ds-toggle-button col-sm-2">
                        <div class="ds-toggle-main"><div class="ds-toggle-after"></div></div>


                        <!-- <div class="ds-toggle-button-aud ds-toggle-button-aud1"></div>
                        <div class="ds-toggle-button-aud ds-toggle-button-aud2"></div> -->
                    </div>
                  </div>
              </div>
              <div class="ds-chart-big well tile">
                  <div class="tile-header col-sm-2">
                      <h4 class="ds-chart-title">Media</h4>
                  </div>
                  <div id="mediaChart">
                    <div class="ds-hbar-status col-sm-8" style="float:left;"></div>
                    <div class="ds-toggle-button col-sm-2">
                        <div class="ds-toggle-main"><div class="ds-toggle-after"></div></div>
                        <!-- <div class="ds-toggle-button-aud ds-toggle-button-aud1"></div>
                        <div class="ds-toggle-button-aud ds-toggle-button-aud2"></div> -->
                    </div>
                </div>
              </div>
            </div>
          </div>


          <div class="tab-pane" role="tabpanel" ng-if="vizCtrl.view === 'interests'">
              <div class="well tile ds-grid-full" style="height: 100%;">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Interests</h4>
                  </div>
                  <div id="interestsDetailChart" class="mikej-chart" style="width:1460px;height:1334px;"></div>
              </div>
          </div>
          <div class="tab-pane" role="tabpanel" ng-if="vizCtrl.view === 'media'">
              <div class="well tile ds-grid-full">
                  <div class="tile-header">
                      <h4 class="ds-chart-title">Media</h4>
                  </div>
                  <div id="mediaDetailChart" class="mikej-chart" style="width:1260px;height:1334px;"></div>
              </div>

          </div>
        </div>
        </main>
    </div>




    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Bootstrap compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>


       /* $(document).ready(function(){
          $(".ds-audience-selection-form").change(function(){
            let selectedAudiences =
              $('.ds-audience-selection-form input:checkbox:checked')
                .map(function() { return $(this).val(); })
                .get();

            if (selectedAudiences.length > 0 & selectedAudiences.length <= 3) {
              f(selectedAudiences);
            } else {

            }
          }).change();
        });*/

    </script>
</div>
</body>
</html>
